
[col] > [cel],
[col] > [cel-l],
[col] > [cel-s] {
  /*display: block;*/
  appearance: none;
  -webkit-appearance: none;
}
[gap]{
  height: 1em;
  width: 1em;
}
[gap="2"]{
  height: 2em;
  width: 2em;
}
[gap="3"]{
  height: 3em;
  width: 3em;
}
[gap="4"]{
  height: 4em;
  width: 4em;
}
[gap="5"]{
  height: 5em;
  width:5em;
}
[gap="6"]{
  height: 6em;
  width: 6em;
}
[gap="7"]{
  height: 7em;
  width:7em;
}
[gap="8"]{
  height: 8em;
  width: 8em;
}
[col] {
  display: grid;
  --grid-tc: repeat(1, 1fr);
  grid-template-columns: var(--grid-tc);
  --grid-cs: 1;
  --grid-ce: -1;
}
[col][cel]{
  display:inline-grid;
}
[col="1"] {
  --grid-tc: repeat(1, 1fr);
}
[col="2"] {
  --grid-tc: repeat(2, 1fr);
}
[col="3"] {
  --grid-tc: repeat(3, 1fr);
}
[col="4"] {
  --grid-tc: repeat(4, 1fr);
}
[col="5"] {
  --grid-tc: repeat(5, 1fr);
}
[col="6"] {
  --grid-tc: repeat(6, 1fr);
}
[col="7"] {
  --grid-tc: repeat(7, 1fr);
}
[col="8"] {
  --grid-tc: repeat(8, 1fr);
}
[col] > [cel^="1"] {
  --grid-cs: 1;
}
[col] > [cel^="2"] {
  --grid-cs: 2;
}
[col] > [cel^="3"] {
  --grid-cs: 3;
}
[col] > [cel^="4"] {
  --grid-cs: 4;
}
[col] > [cel^="5"] {
  --grid-cs: 5;
}
[col] > [cel^="6"] {
  --grid-cs: 6;
}
[col] > [cel^="7"] {
  --grid-cs: 7;
}
[col] > [cel^="8"] {
  --grid-cs: 8;
}
[col] > [cel$="+1"],
[col] > [cel="1"] {
  --grid-ce: 1;
}
[col] > [cel$="+2"],
[col] > [cel$="-1"],
[col] > [cel="2"] {
  --grid-ce: 2;
}
[col] > [cel$="+3"],
[col] > [cel$="-2"],
[col] > [cel="3"] {
  --grid-ce: 3;
}
[col] > [cel$="+4"],
[col] > [cel$="-3"],
[col] > [cel="4"] {
  --grid-ce: 4;
}
[col] > [cel$="+5"],
[col] > [cel$="-4"],
[col] > [cel="5"] {
  --grid-ce: 5;
}
[col] > [cel$="+6"],
[col] > [cel$="-5"],
[col] > [cel="6"] {
  --grid-ce: 6;
}
[col] > [cel$="+7"],
[col] > [cel$="-6"],
[col] > [cel="7"] {
  --grid-ce: 7;
}
[col] > [cel$="+8"],
[col] > [cel$="-7"],
[col] > [cel="8"] {
  --grid-ce: 8;
}
[col] > [cel$="-8"] {
  --grid-ce: 9;
}
[col] > [cel] {
  grid-column-end: span var(--grid-ce);
}
[col] > [cel*="+"],
[col] > [cel*="-"],
[col] > [cel*=".."] {
  grid-column-start: var(--grid-cs);
}
[col] > [cel*="-"],
[col] > [cel*=".."] {
  grid-column-end: var(--grid-ce);
}
[col] > [cel=""] {
  grid-column: 1 / -1;
}
[col] > [cel="0"] {
  display: none;
}
@media (max-width: 370px) {
  [gap-t="1"],[gap-t]{
    height: 1em;
    width: 1em;
  }
  [gap-t="2"]{
    height: 2em;
    width: 2em;
  }
  [gap-t="3"]{
    height: 3em;
    width: 3em;
  }
  [gap-t="4"]{
    height: 4em;
    width: 4em;
  }
  [gap-t="5"]{
    height: 5em;
    width:5em;
  }
  [gap-t="6"]{
    height: 6em;
    width: 6em;
  }
  [gap-t="7"]{
    height: 7em;
    width:7em;
  }
  [gap-t="8"]{
    height: 8em;
    width: 8em;
  }
  [col-t="1"] {
    --grid-tc: repeat(1, 1fr);
  }
  [col-t="2"] {
    --grid-tc: repeat(2, 1fr);
  }
  [col-t="3"] {
    --grid-tc: repeat(3, 1fr);
  }
  [col-t="4"] {
    --grid-tc: repeat(4, 1fr);
  }
  [col-t="5"] {
    --grid-tc: repeat(5, 1fr);
  }
  [col-t="6"] {
    --grid-tc: repeat(6, 1fr);
  }
  [col-t="7"] {
    --grid-tc: repeat(7, 1fr);
  }
  [col-t="8"] {
    --grid-tc: repeat(8, 1fr);
  }
  [col] > [cel-t^="1"] {
    --grid-cs: 1;
  }
  [col] > [cel-t^="2"] {
    --grid-cs: 2;
  }
  [col] > [cel-t^="3"] {
    --grid-cs: 3;
  }
  [col] > [cel-t^="4"] {
    --grid-cs: 4;
  }
  [col] > [cel-t^="5"] {
    --grid-cs: 5;
  }
  [col] > [cel-t^="6"] {
    --grid-cs: 6;
  }
  [col] > [cel-t^="7"] {
    --grid-cs: 7;
  }
  [col] > [cel-t^="8"] {
    --grid-cs: 8;
  }
  [col] > [cel-t$="+1"],
  [col] > [cel-t="1"] {
    --grid-ce: 1;
  }
  [col] > [cel-t$="+2"],
  [col] > [cel-t$="-1"],
  [col] > [cel-t="2"] {
    --grid-ce: 2;
  }
  [col] > [cel-t$="+3"],
  [col] > [cel-t$="-2"],
  [col] > [cel-t="3"] {
    --grid-ce: 3;
  }
  [col] > [cel-t$="+4"],
  [col] > [cel-t$="-3"],
  [col] > [cel-t="4"] {
    --grid-ce: 4;
  }
  [col] > [cel-t$="+5"],
  [col] > [cel-t$="-4"],
  [col] > [cel-t="5"] {
    --grid-ce: 5;
  }
  [col] > [cel-t$="+6"],
  [col] > [cel-t$="-5"],
  [col] > [cel-t="6"] {
    --grid-ce: 6;
  }
  [col] > [cel-t$="+7"],
  [col] > [cel-t$="-6"],
  [col] > [cel-t="7"] {
    --grid-ce: 7;
  }
  [col] > [cel-t$="+8"],
  [col] > [cel-t$="-7"],
  [col] > [cel-t="8"] {
    --grid-ce: 8;
  }
  [col] > [cel-t$="-8"] {
    --grid-ce: 9;
  }
  [col] > [cel-t] {
    grid-column-end: span var(--grid-ce);
  }
  [col] > [cel-t*="+"],
  [col] > [cel-t*="-"],
  [col] > [cel-t*=".."] {
    grid-column-start: var(--grid-cs);
  }
  [col] > [cel-t*="-"],
  [col] > [cel-t*=".."] {
    grid-column-end: var(--grid-ce);
  }
  [col] > [cel-t="0"] {
    display: none;
  }
  [col] > [cel-t=""]{
    grid-column: 1 / -1;
  }
}
@media (max-width: 550px) {
  [gap-s],[gap-s="1"]{
    height: 1em;
    width: 1em;
  }
  [gap-s="2"]{
    height: 2em;
    width: 2em;
  }
  [gap-s="3"]{
    height: 3em;
    width: 3em;
  }
  [gap-s="4"]{
    height: 4em;
    width: 4em;
  }
  [gap-s="5"]{
    height: 5em;
    width:5em;
  }
  [gap-s="6"]{
    height: 6em;
    width: 6em;
  }
  [gap-s="7"]{
    height: 7em;
    width:7em;
  }
  [gap-s="8"]{
    height: 8em;
    width: 8em;
  }
  [col-s="1"] {
    --grid-tc: repeat(1, 1fr);
  }
  [col-s="2"] {
    --grid-tc: repeat(2, 1fr);
  }
  [col-s="3"] {
    --grid-tc: repeat(3, 1fr);
  }
  [col-s="4"] {
    --grid-tc: repeat(4, 1fr);
  }
  [col-s="5"] {
    --grid-tc: repeat(5, 1fr);
  }
  [col-s="6"] {
    --grid-tc: repeat(6, 1fr);
  }
  [col-s="7"] {
    --grid-tc: repeat(7, 1fr);
  }
  [col-s="8"] {
    --grid-tc: repeat(8, 1fr);
  }
  [col] > [cel-s^="1"] {
    --grid-cs: 1;
  }
  [col] > [cel-s^="2"] {
    --grid-cs: 2;
  }
  [col] > [cel-s^="3"] {
    --grid-cs: 3;
  }
  [col] > [cel-s^="4"] {
    --grid-cs: 4;
  }
  [col] > [cel-s^="5"] {
    --grid-cs: 5;
  }
  [col] > [cel-s^="6"] {
    --grid-cs: 6;
  }
  [col] > [cel-s^="7"] {
    --grid-cs: 7;
  }
  [col] > [cel-s^="8"] {
    --grid-cs: 8;
  }
  [col] > [cel-s$="+1"],
  [col] > [cel-s="1"] {
    --grid-ce: 1;
  }
  [col] > [cel-s$="+2"],
  [col] > [cel-s$="-1"],
  [col] > [cel-s="2"] {
    --grid-ce: 2;
  }
  [col] > [cel-s$="+3"],
  [col] > [cel-s$="-2"],
  [col] > [cel-s="3"] {
    --grid-ce: 3;
  }
  [col] > [cel-s$="+4"],
  [col] > [cel-s$="-3"],
  [col] > [cel-s="4"] {
    --grid-ce: 4;
  }
  [col] > [cel-s$="+5"],
  [col] > [cel-s$="-4"],
  [col] > [cel-s="5"] {
    --grid-ce: 5;
  }
  [col] > [cel-s$="+6"],
  [col] > [cel-s$="-5"],
  [col] > [cel-s="6"] {
    --grid-ce: 6;
  }
  [col] > [cel-s$="+7"],
  [col] > [cel-s$="-6"],
  [col] > [cel-s="7"] {
    --grid-ce: 7;
  }
  [col] > [cel-s$="+8"],
  [col] > [cel-s$="-7"],
  [col] > [cel-s="8"] {
    --grid-ce: 8;
  }
  [col] > [cel-s$="-8"] {
    --grid-ce: 9;
  }
  [col] > [cel-s] {
    grid-column-end: span var(--grid-ce);
  }
  [col] > [cel-s*="+"],
  [col] > [cel-s*="-"],
  [col] > [cel-s*=".."] {
    grid-column-start: var(--grid-cs);
  }
  [col] > [cel-s*="-"],
  [col] > [cel-s*=".."] {
    grid-column-end: var(--grid-ce);
  }
  [col] > [cel-s="0"] {
    display: none;
  }
  [col] > [cel-s=""] {
    grid-column: 1 / -1;
  }
}
@media (min-width: 999px) {
  [gap-l],[gap-l="1"]{
    height: 1em;
    width: 1em;
  }
  [gap-l="2"]{
    height: 2em;
    width: 2em;
  }
  [gap-l="3"]{
    height: 3em;
    width: 3em;
  }
  [gap-l="4"]{
    height: 4em;
    width: 4em;
  }
  [gap-l="5"]{
    height: 5em;
    width:5em;
  }
  [gap-l="6"]{
    height: 6em;
    width: 6em;
  }
  [gap-l="7"]{
    height: 7em;
    width:7em;
  }
  [gap-l="8"]{
    height: 8em;
    width: 8em;
  }
  [col-l="1"] {
    --grid-tc: repeat(1, 1fr);
  }
  [col-l="2"] {
    --grid-tc: repeat(2, 1fr);
  }
  [col-l="3"] {
    --grid-tc: repeat(3, 1fr);
  }
  [col-l="4"] {
    --grid-tc: repeat(4, 1fr);
  }
  [col-l="5"] {
    --grid-tc: repeat(5, 1fr);
  }
  [col-l="6"] {
    --grid-tc: repeat(6, 1fr);
  }
  [col-l="7"] {
    --grid-tc: repeat(7, 1fr);
  }
  [col-l="8"] {
    --grid-tc: repeat(8, 1fr);
  }
  [col] > [cel-l^="1"] {
    --grid-cs: 1;
  }
  [col] > [cel-l^="2"] {
    --grid-cs: 2;
  }
  [col] > [cel-l^="3"] {
    --grid-cs: 3;
  }
  [col] > [cel-l^="4"] {
    --grid-cs: 4;
  }
  [col] > [cel-l^="5"] {
    --grid-cs: 5;
  }
  [col] > [cel-l^="6"] {
    --grid-cs: 6;
  }
  [col] > [cel-l^="7"] {
    --grid-cs: 7;
  }
  [col] > [cel-l^="8"] {
    --grid-cs: 8;
  }
  [col] > [cel-l$="+1"],
  [col] > [cel-l="1"] {
    --grid-ce: 1;
  }
  [col] > [cel-l$="+2"],
  [col] > [cel-l$="-1"],
  [col] > [cel-l="2"] {
    --grid-ce: 2;
  }
  [col] > [cel-l$="+3"],
  [col] > [cel-l$="-2"],
  [col] > [cel-l="3"] {
    --grid-ce: 3;
  }
  [col] > [cel-l$="+4"],
  [col] > [cel-l$="-3"],
  [col] > [cel-l="4"] {
    --grid-ce: 4;
  }
  [col] > [cel-l$="+5"],
  [col] > [cel-l$="-4"],
  [col] > [cel-l="5"] {
    --grid-ce: 5;
  }
  [col] > [cel-l$="+6"],
  [col] > [cel-l$="-5"],
  [col] > [cel-l="6"] {
    --grid-ce: 6;
  }
  [col] > [cel-l$="+7"],
  [col] > [cel-l$="-6"],
  [col] > [cel-l="7"] {
    --grid-ce: 7;
  }
  [col] > [cel-l$="+8"],
  [col] > [cel-l$="-7"],
  [col] > [cel-l="8"] {
    --grid-ce: 8;
  }
  [col] > [cel-l$="-8"] {
    --grid-ce: 9;
  }
  [col] > [cel-l] {
    grid-column-end: span var(--grid-ce);
  }
  [col] > [cel-l*="+"],
  [col] > [cel-l*="-"],
  [col] > [cel-l*=".."] {
    grid-column-start: var(--grid-cs);
  }
  [col] > [cel-l*="-"],
  [col] > [cel-l*=".."] {
    grid-column-end: var(--grid-ce);
  }
  [col] > [cel-l="0"] {
    display: none;
  }
  [col] > [cel-l=""] {
    grid-column: 1 / -1;
  }
}
[debug] [col] > * {
  --color: rgba(248, 110, 91, 0.3);
  background-image: linear-gradient(
    to bottom,
    var(--color) 0%,
    var(--color) 100%
  );
}
[col][debug] > * {
  --color: rgba(248, 110, 91, 0.3);
  background-image: linear-gradient(
    to bottom,
    var(--color) 0%,
    var(--color) 100%
  );
}
[col][debug] > :nth-child(6n + 2) {
  --color: rgba(103, 126, 208, 0.3);
}
[debug] [col] > :nth-child(6n + 2) {
  --color: rgba(103, 126, 208, 0.3);
}
[col][debug] > :nth-child(6n + 3) {
  --color: rgba(224, 174, 72, 0.3);
}
[debug] > [col] > :nth-child(6n + 3) {
  --color: rgba(224, 174, 72, 0.3);
}
[col][debug] > :nth-child(6n + 4) {
  --color: rgba(77, 214, 115, 0.3);
}
[debug] [col] > :nth-child(6n + 4) {
  --color: rgba(77, 214, 115, 0.3);
}
[col][debug] > :nth-child(6n + 5) {
  --color: rgba(217, 103, 219, 0.3);
}
[debug] [col] > :nth-child(6n + 5) {
  --color: rgba(217, 103, 219, 0.3);
}
[col][debug] > :nth-child(6n + 6) {
  --color: rgba(94, 204, 211, 0.3);
}
[debug] [col] > :nth-child(6n + 6) {
  --color: rgba(94, 204, 211, 0.3);
}
[col][debug] > :nth-child(6n + 7) {
  --color: rgba(248, 110, 91, 0.3);
}
[debug] [col] > :nth-child(6n + 7) {
  --color: rgba(248, 110, 91, 0.3);
}
