[rounded=""] {
  border-radius: 4px;
  overflow: hidden;
}

[rounded="full"] {
  overflow: hidden;
  border-radius: 1em;
}
.raised,
[raised] {
  box-shadow: 0px 2px 0px 1px rgba(122, 122, 122, 0.25);
}
