[bg="white"] {
  background: #ffffff;
}
[white] {
  color: #ffffff;
}
[bg="black"] {
  background: #10161a;
}
[black] {
  color: #10161a;
}
[bg="gray"] {
  background: #e1e8ed;
}
[gray] {
  color: #8a9ba8;
}
[orange] {
  color: #d13913;
}
[bg="orange"] {
  background: #d13913;
}

[blue] {
  color: #0e5a8a;
}
[bg="blue"] {
  background: #0e5a8a;
}
