.inline,
[inline] {
  display: inline-block;
}
.row,
[row] {
  display: table-row;
}
.row > *,
[row] > * {
  display: table-cell;
}
.tab,
[tab] {
  display: table;
}
.tab > *,
[tab] > * {
  display: table-row;
}
.tab > * > *,
[tab] > * > * {
  display: table-cell;
}
[fill] {
  width: 100%;
  height: 100%;
}
[fill="w"] {
  width: 100%;
  height: auto;
}

[fill="h"] {
  width: auto;
  height: 100%;
}
