h1{
    margin: 7px;
    font-weight: bolder;
    font-size: 2.5em;
}
h2{
    margin: 5px;
    font-weight: bold;
    font-size: 2em;
}
h3{
    margin: 5px;
    font-weight: normal;
    font-size: 1.5em;
}
h4{
    margin: 3px;
    font-weight: normal;
    font-size: 1em;
}
h5{
    margin: 3px;
    font-weight: normal;
    font-size: 0.8em;
}
h6{
    margin: 2px;
    font-weight: lighter;
    font-size: 0.5em;
}