[margin="0.5"],
[margin=".5"] {
  margin: 0.5rem;
}
[margin="1"] {
  margin: 1rem;
}
[margin="1.5"] {
  margin: 1.5rem;
}
[margin="2"] {
  margin: 2rem;
}

[margin="2.5"] {
  margin: 2.5rem;
}
[margin="3"] {
  margin: 3rem;
}

[padding="0.5"],
[padding=".5"] {
  padding: 0.5rem;
}
[padding="1"] {
  padding: 1rem;
}
[padding="1.5"] {
  padding: 1.5rem;
}
[padding="2"] {
  padding: 2rem;
}

[padding="2.5"] {
  padding: 2.5rem;
}
[padding="3"] {
  padding: 3rem;
}
