.reverse {
  direction: rtl;
}
body[dir="rtl"] .reverse {
  direction: ltr;
}

.middle {
  line-height: normal;
  vertical-align: middle;
}
[hide],
.hide {
  display: block;
}
[hide="false"] {
  display: inherit;
}
.center,
[center] {
  text-align: center;
}
